* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  list-style-type: none;
  text-decoration: none;
}
img,
svg {
  max-width: 100%;
}
:root {
  --color-gold: rgb(213, 150, 108);
  --color-almost-black: rgb(21, 21, 21);
  --color-dark-grey: rgb(68, 68, 68);
}
h1,
h2 {
  font-family: "Big Shoulders Display";
  font-weight: 900;
  text-transform: uppercase;
}
p,
a {
  font-family: "Outfit";
  font-size: 1.125rem;
  line-height: 1.7rem;
  color: var(--color-dark-grey);
}
/* HEADER */
.header-location-btn {
  width: 204px;
  height: 72px;
  position: relative;
}
header {
  position: relative;
  height: 100%;
  width: 100%;
}
.map {
  width: 100%;
  display: block;
}
.btn-container {
  position: absolute;
  top: 0;
  left: 153px;
  width: 264px;
}
.header-location-btn p {
  display: flex;
  background-color: var(--color-almost-black);
  color: white;
  height: 72px;
  justify-content: center;
  align-items: center;
  border: none;
  border-left: 50px solid var(--color-gold);
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Big Shoulders Display";
  letter-spacing: 3.64px;
  font-size: 1.25rem;
}
.left-arrow {
  position: absolute;
  top: 25px;
  left: 20px;
}
.header-location-btn p:hover {
  background-color: var(--color-gold);
  border-left: 50px solid var(--color-almost-black);
}

/* SECTION */
section {
  background-color: var(--color-almost-black);
  padding-block: 4rem;
  height: 548px;
}
#section {
  display: flex;
  justify-content: space-between;
}
.address {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.address h2 {
  color: var(--color-gold);
  font-size: 2.25rem;
}
.address p {
  color: white;
  width: 440px;
}

.container {
  width: 80%;
  margin: auto;
}
h1 {
  font-size: 4.375rem;
  line-height: 4.375rem;
  color: white;
  width: 250px;
}

/* FOOTER */
/* FOOTER */
footer {
  background-color: var(--color-gold);
  padding-block: 4rem;
}
footer .flex {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: auto;
}
.footer-logo {
  height: 58px;
  width: auto;
}
footer p {
  color: var(--color-almost-black);
  width: 430px;
}
ul {
  display: flex;
  gap: 1rem;
}
.social-icon svg:hover path {
  fill: white;
}

@media (min-width: 32.05rem) and (max-width: 48rem) {
  .container,
  footer .flex {
    width: 90%;
  }
  h1 {
    font-size: 3.43rem;
    line-height: 3.43rem;
    color: white;
    width: 250px;
  }
  .address p {
    width: 398px;
  }
  footer p {
    width: 281px;
  }
  .btn-container {
    left: 40px;
  }
}
