* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  list-style-type: none;
  text-decoration: none;
}
img,
svg {
  max-width: 100%;
}
:root {
  --color-gold: rgb(213, 150, 108);
  --color-almost-black: rgb(21, 21, 21);
  --color-dark-grey: rgb(68, 68, 68);
}
h1,
h2 {
  font-family: "Big Shoulders Display";
}
p,
a {
  font-family: "Outfit";
  font-size: 1.125rem;
  line-height: 1.7rem;
  color: var(--color-dark-grey);
}
/* HEADER */
header {
  display: flex;
}
.black-bg {
  background-color: black;
  width: 450px;
}
.header-content-container {
  position: absolute;
  top: calc(50% - 176px / 2 - 122.5px);
  left: 164px;
  width: 80%;
  height: 300px;
  margin-right: 11.5rem;
}
.header-title {
  color: white;
  font-size: 6rem;
  font-weight: 900;
  line-height: 5.5rem;
  width: 450px;
  text-transform: uppercase;
}
.header-right {
  position: absolute;
  top: 0;
  right: 62px;
  width: 350px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-p {
  color: var(--color-dark-grey);
  width: 290px;
}

.header-location-btn {
  width: 260px;
  height: 72px;
  position: relative;
}
.right-arrow {
  position: absolute;
  top: 25px;
  right: 20px;
}
.header-location-btn p {
  display: flex;
  background-color: var(--color-almost-black);
  color: white;
  height: 72px;
  justify-content: center;
  align-items: center;
  border: none;
  border-right: 50px solid var(--color-gold);
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Big Shoulders Display";
  letter-spacing: 3.64px;
  font-size: 1.25rem;
}
.header-location-btn p:hover {
  background-color: var(--color-gold);
  border-right: 50px solid var(--color-almost-black);
}

/* GALLERY SECTION */
section {
  padding-block: 10rem;
  place-content: center;
}
.grid {
  display: grid;
  width: 80%;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 40% 17% 40%;
  gap: 1rem;
  margin: auto;
}
article:first-child {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
article:first-child h2 {
  font-size: 3.75rem;
  font-weight: 900;
  line-height: 3.75rem;
  text-transform: uppercase;
  width: 350px;
}
article:first-child p {
  font-size: 1.375rem;
  line-height: 2em;
  width: 320px;
}
article:last-child {
  background-color: var(--color-almost-black);
  padding: 2rem;
}
article:last-child h2 {
  color: white;
  font-size: 3.75rem;
  font-weight: 900;
  line-height: 3.75rem;
}
article:last-child p {
  color: white;
  font-size: 1.375rem;
  line-height: 2rem;
}
section div > img,
section article {
  width: 100%;
  height: 100%;
}
#box2 {
  grid-column: 2 / 4;
  object-fit: cover;
}
#box3 {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}
#box5 {
  height: 100%;
  grid-column: 3 / 4;
}
/* FOOTER */
footer {
  background-color: black;
  padding-block: 4rem;
}
footer .flex {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: auto;
}
.footer-logo {
  height: 58px;
  width: auto;
}
footer p {
  color: white;
  width: 430px;
}
ul {
  display: flex;
  gap: 1rem;
}
.social-icon svg:hover path {
  fill: var(--color-gold);
}

/* - Tablet: 768px 48rem */
@media (min-width: 32.05rem) and (max-width: 48rem) {
  header {
    height: 100%;
  }
  .grid,
  footer .flex {
    width: 90%;
  }
  .black-bg {
    display: none;
  }
  header {
    position: relative;
  }
  .header-content-container {
    position: absolute;
    top: 130px;
    right: 0;
    left: 424px;
    bottom: 0;
    width: 350px;
    height: 600px;
    padding-bottom: 1rem;
  }
  .header-title {
    color: var(--color-almost-black);
    font-size: 4.375rem;
    font-weight: 900;
    line-height: 5.5rem;
    width: 330px;
    text-transform: uppercase;
  }
  .header-right {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header-right > p {
    margin-block: 2rem;
  }
  .header-location-btn {
    width: 260px;
    height: fit-content;
    position: relative;
  }
  .right-arrow {
    position: absolute;
    top: 25px;
    right: 20px;
    height: 24px;
  }
  header img {
    height: 700px;
  }
  article:first-child h2,
  article:last-child h2 {
    font-size: 3.125rem;
    line-height: 2.812rem;
    width: 223px;
  }
  article:first-child p,
  article:last-child p {
    font-size: 1.125rem;
    line-height: 1.75em;
  }
  article:first-child h2 {
    width: 223px;
  }

  .footer-logo {
    height: 40px;
  }
  footer div > p {
    width: 281px;
  }
  article:first-child p {
    width: 223px;
  }
}
/* - phone:480px 30rem */
@media (max-width: 32rem) {
  .header-content-container,
  .grid,
  footer .flex {
    width: 90%;
  }
  header img {
    height: 240px;
    object-fit: cover;
  }
  .header-content-container {
    position: static;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 600px;
  }
  header {
    flex-direction: column;
  }

  .header-content-container {
    position: static;
    width: 100%;
    height: fit-content;
    margin: auto;
    padding: 2rem 1rem;
  }
  .header-right > * {
    margin-top: 1.5rem;
  }
  .header-right {
    position: static;
    width: 350px;
    height: 100%;
    display: flex;
  }
  .header-title {
    color: var(--color-almost-black);
    font-size: 3.75rem;
    font-weight: 900;
    line-height: 3.43rem;
    width: 280px;
    text-transform: uppercase;
  }
  .header-location-btn {
    width: 260px;
    height: fit-content;
    position: relative;
  }
  .right-arrow {
    position: absolute;
    top: 25px;
    right: 20px;
    height: 24px;
  }
  .grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
  }
  #box2 {
    order: -1;
  }
  #box2 img {
    height: 100%;
    object-fit: contain;
  }
  footer .flex {
    flex-direction: column;
    gap: 2rem;
  }
  footer p {
    color: white;
    width: 100%;
  }
}
