* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  list-style-type: none;
  text-decoration: none;
}
img,
svg {
  max-width: 100%;
}
:root {
  --color-gold: rgb(213, 150, 108);
  --color-almost-black: rgb(21, 21, 21);
  --color-dark-grey: rgb(68, 68, 68);
}
h1,
h2 {
  font-family: "Big Shoulders Display";
}
p,
a {
  font-family: "Outfit";
  font-size: 1.125rem;
  line-height: 1.7rem;
  color: var(--color-dark-grey);
}
/* HEADER */
header {
  display: flex;
  height: 100vh;
}
.black-bg {
  background-color: black;
  width: 450px;
  /* position: relative; */
}
.header-content-container {
  position: absolute;
  top: calc(50% - 176px / 2 - 122.5px);
  left: 164px;
  width: 80%;
  height: 300px;
  margin-right: 11.5rem;
}
.header-title {
  color: white;
  font-size: 6rem;
  font-weight: 900;
  line-height: 5.5rem;
  width: 450px;
  text-transform: uppercase;
}
.header-right {
  position: absolute;
  top: 0;
  right: 62px;
  width: 350px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-p {
  color: var(--color-dark-grey);
  width: 290px;
}
.header-location-btn {
  width: 204px;
  height: 72px;
  position: relative;
}
.right-arrow {
  position: absolute;
  top: 25px;
  right: 20px;
}
.header-location-btn p {
  display: flex;
  background-color: var(--color-almost-black);
  color: white;
  height: 72px;
  justify-content: center;
  align-items: center;
  border: none;
  border-right: 50px solid var(--color-gold);
}
.header-location-btn p:hover {
  background-color: var(--color-gold);
  border-right: 50px solid var(--color-almost-black);
}

/* GALLERY SECTION */
section {
  padding-block: 10rem;
  place-content: center;
}
.grid {
  display: grid;
  width: 80%;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 40% 17% 40%;
  gap: 1rem;
  margin: auto;
}
article:first-child {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
article:first-child h2 {
  font-size: 3.75rem;
  font-weight: 900;
  line-height: 3.75rem;
  text-transform: uppercase;
  width: 350px;
}
article:first-child p {
  font-size: 1.375rem;
  line-height: 2em;
  width: 320px;
}
article:last-child {
  background-color: var(--color-almost-black);
  padding: 2rem;
}
article:last-child h2 {
  color: white;
  font-size: 3.75rem;
  font-weight: 900;
  line-height: 3.75rem;
}
article:last-child p {
  color: white;
  font-size: 1.375rem;
  line-height: 2rem;
}
section div > img,
section article {
  width: 100%;
  height: 100%;
}
#box2 {
  grid-column: 2 / 4;
  object-fit: cover;
}
#box3 {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}
#box5 {
  height: 100%;
  grid-column: 3 / 4;
}
/* FOOTER */
footer {
  background-color: black;
  padding-block: 4rem;
}
footer .flex {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: auto;
}
.footer-logo {
  height: 58px;
  width: auto;
}
footer p {
  color: white;
  width: 430px;
}
ul {
  display: flex;
  gap: 1rem;
}
.social-icon svg {
}
.social-icon svg:hover path {
  fill: var(--color-gold);
}
